&-cell
	display: flex
	flex: auto
	flex-grow: 1
	align-items: center
	width: 15px
	position: relative
	font-weight: 500
	padding: 12px 0px 6px
	line-height: 1
	border-bottom: 1px solid $divider
	box-sizing: border-box


	&-innerwrap
		display: block

		&:not(._noEllipsis)
			+ellipsis(100%)

		._isBreakdownBar &,
		._isIpDetails &,
		._isButton &,
			overflow: visible


	@import 'body-cell.expandButton'

	._tableRowDrilldown &
		background-color: $subberwhite
	&._isBreakdownBar,
	&._isFields,
		justify-content: flex-start !important
	&._isButton
		max-width: 70px

	.alignment---center &
		justify-content: center
	


	&._hasIcon
		padding-right: 5px
		&:before
			+icon( attr(data-icon) )
			position: relative
			font-weight: 400
			font-size: 14px
			opacity: 0.7
			top: -2.5px
			float: left
			padding-right: 5px

	
	&._isLink
		cursor: pointer
		a
			color: #008fff
			text-decoration: none

	&._isBreakdownBar
		cursor: help
