&-fieldGroup
	font-size: 11.2px
	text-align: left
	
	&-item
		display: block
		line-height: 1.6

		&-label
			display: inline-block
			font-weight: 700
			padding-right: 3px

		&-value
			display: inline-block