&-fieldGroup
	max-width: 170px
	padding: 10px 0
	font-size: 12px
	
	&-item
		display: table

		&-label
			display: table-cell
			font-weight: 700

		&-value
			+ellipsis(70%)
			display: table-cell
			padding-left: 3px