&-heading
	&-row
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: stretch
		align-content: stretch
		width: 100%
		border-bottom: 1px solid $divider
		box-sizing: border-box

		&-cell
			flex: auto
			flex-grow: 1
			width: 15px
			font-weight: 600
			letter-spacing: letter-spacing(20)
			color: $black
			padding-bottom: 5px
			cursor: default
			+user-select(none)
			&._expandButton
				display: none
				max-width: 35px
				.isExpandingTable &
					display: block

			&._noLabel
				opacity: 0

			&._isSortable
				position: relative
				cursor: pointer
				
			&._isSortable &-text
				position: relative
				
				&:after
					+icon('')
					position: absolute
					+valign(40%)
					right: -15px
					display: none
					opacity: 0.4
					font-size: 13px
			
					.sortDirection---desc &
						content: 's'
					.sortDirection---asc &
						content: 't'
				

			&._currentSort &-text:after
				display: block



			&-text
				display: inline-block