&-ipDetails
	position: relative

	&-trigger
		position: relative
		display: inline-block
		top: 2px
		width: 15px
		height: 15px
		color: $black
		box-sizing: border-box
		border-radius: 50%
		cursor: pointer

		&:before
			+icon('m')
			font-size: 15px
		

	&-content
		$bgColor: $subberwhite
		position: absolute
		z-index: 10
		+halign
		top: 33px
		display: block
		padding: 10px 10px 6px
		border-radius: 3px
		background-color: $bgColor
		font-weight: 600
		line-height: 1
		font-size: 11.2px
		letter-spacing: .4px
		text-transform: uppercase
		color: $black
		+arrow($side: "top", $align: "center", $size: 7px, $color: $bgColor, $borderColor: $subwhite, $borderSize: 3px)
		box-shadow: 0px 3px 18px rgba(0,0,0,0.24)
		opacity: 0
		visibility: hidden
		transition: opacity 0.20s linear 0.25s, visibility 0.20s linear 0.25s
		._isReady &
			width: 200px
			box-sizing: border-box
			padding: 0
			font-size: 11px
			text-align: left
			text-transform: none


		&-item
			display: table
			table-layout: fixed
			width: 100%
			max-width: 100%
			padding: 10px 8px 6px
			border-bottom: 1px solid #cacaca
			line-height: 1
			box-sizing: border-box
			&:last-child
				border-bottom: 0
			
			&-label
				display: table-cell
				font-weight: 700
				text-align: left

			&-value
				+ellipsis(100%)
				width: 60%
				display: table-cell
				font-weight: 500
				text-align: right



	&:hover &-content
		visibility: visible
		opacity: 1


	&-country
		text-align: center
