&-pagination
	float: right
	margin: 15px 0
	+user-select(none)
	opacity: 0
	&.is_visible
		opacity: 1
	._mobileVersion._cellsHavePadding &
		padding: 0 15px

	&-itemswrap
		float: left

	&-item
		position: relative
		float: left
		width: 20px
		height: 20px
		margin-left: 6px
		background-color: $greyLight
		border: 1px solid $divider
		border-radius: 2px
		color: $black
		cursor: pointer
		&:hover
			background-color: lighten($grey, 45)
		&.current
			background-color: $highlightColor
			border-color: $highlightColor
			color: white
		&.current &-text
			font-weight: 400

		&._extraIndicator
			display: none
			.has_extra &
				display: block



		&-text
			position: absolute
			width: 100%
			+valign(52%)
			font-family: helvetica
			font-weight: 600
			font-size: 11px
			line-height: 1
			text-align: center
			._back &,
			._next &
				top: 53%

			._back &:after,
			._next &:after
				font-weight: 400
				font-size: 15px
				opacity: 0.3
				// font-size: 9px
				// opacity: 0.6

			._back &:after
				+icon('q', 'dtcons')
				// +icon('o', 'dtcons')
			._next &:after
				+icon('r', 'dtcons')
				// +icon('p', 'dtcons')


		
		&-select
			position: absolute
			top: -4px
			left: -2px
			display: block
			width: 110%
			height: 110%
			opacity: 0